.card__image {
  border-radius: 8px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__title {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-width: 353px;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  max-width: 413px;
  margin: 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
  transition-duration: 1s;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__content {
    max-width: 288px;
    margin: 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
