.footer {
  margin: 0;
  box-sizing: border-box;
  color: #212121;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  gap: 20px;
  padding-bottom: 40px;
  padding-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  width: 104px;
  height: 16px;
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 12px;
    padding-bottom: 36px;
  }

  .footer__copyright {
    margin-bottom: 60px;
  }
}
