.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.modal__close-button {
  background-image: url(../images/close-button.svg);
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border: 2px;
}

.modal__title {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  width: 169px;
  height: 32px;
  margin: 0 0 32px;
  color: #212121;
}

.modal__label {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 70%;
  margin-bottom: 32px;
}

.modal__input {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #212121;
  padding: 16px 12px;
  border-radius: 8px;
  gap: 10px;
}

.modal__submit-button {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fcf5e5;
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
