.profile {
  font-family: poppins, Arial, Helvetica, sans-serif;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
}

.profile__avatar-button::after {
  content: "Edit Avatar";
}

.profile__avatar {
  border-radius: 8px;
  margin-right: 20px;
  height: 190px;
  width: 190px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
  /* margin-right: 20px; */
}

.profile__name {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  margin: 0 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  margin-top: auto;
  text-align: center;
  display: flex;
  gap: 8px;
  opacity: 70%;
  border: none;
  background-color: transparent;
  max-width: 150px;
  position: relative;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
  transition-duration: 1s;
}

.profile__add-button {
  background-color: #212121;
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
  cursor: pointer;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  height: 52px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: auto;
  text-align: center;
  width: 149px;
}

.profile__add-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 1s;
}

.profile__add-button-plus {
  margin: 0;
  align-self: center;
}

.profile__add-button-writing {
  margin: 0;
  align-self: center;
}

.profile__section {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-button {
    visibility: visible;
  }

  .profile__avatar-button::after {
    content-visibility: hidden;
    visibility: visible;
  }

  .profile__pencil-icon {
    visibility: visible;
  }

  .profile .profile__avatar {
    margin: 0 0 12px 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    margin-right: 0;
    align-self: center;
  }

  .profile__name {
    margin-bottom: 6px;
    max-width: 288px;
    font-size: 20px;
    text-align: center;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
    margin-right: 0;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
    text-align: center;
    align-items: center;
  }

  .profile__add-button {
    max-width: 288px;
    width: 100%;
  }

  .profile__edit-button {
    margin: 0;
    flex-direction: row;
  }

  .profile__section {
    max-width: 288px;
    flex-direction: column;
  }
}
